h1, h2, h3, h4, h5, h6{
    margin-top: 0; !important
}

.container-tweets{
width:100%;
display:flex;
justify-content: space-around;
flex-wrap:wrap;
}

.shiny-output-error-validation{
  color:red; !important
}
